.card-container {
  width: 20rem;
  height: 40rem;

  border-radius: 25px;
  margin: 0 2.5rem 2.5rem 2.5rem;
  text-decoration: none;
}

.card-container img{
  position: absolute;
  z-index: -1;
  width: 20rem;
}